In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/movielens-100k-dataset/ml-100k/u.occupation
/kaggle/input/movielens-100k-dataset/ml-100k/u1.base
/kaggle/input/movielens-100k-dataset/ml-100k/u.info
/kaggle/input/movielens-100k-dataset/ml-100k/u4.test
/kaggle/input/movielens-100k-dataset/ml-100k/u.item
/kaggle/input/movielens-100k-dataset/ml-100k/README
/kaggle/input/movielens-100k-dataset/ml-100k/u1.test
/kaggle/input/movielens-100k-dataset/ml-100k/ua.test
/kaggle/input/movielens-100k-dataset/ml-100k/u.data
/kaggle/input/movielens-100k-dataset/ml-100k/u5.test
/kaggle/input/movielens-100k-dataset/ml-100k/mku.sh
/kaggle/input/movielens-100k-dataset/ml-100k/u5.base
/kaggle/input/movielens-100k-dataset/ml-100k/u.user
/kaggle/input/movielens-100k-dataset/ml-100k/ub.base
/kaggle/input/movielens-100k-dataset/ml-100k/u4.base
/kaggle/input/movielens-100k-dataset/ml-100k/u2.test
/kaggle/input/movielens-100k-dataset/ml-100k/ua.base
/kaggle/input/movielens-100k-dataset/ml-100k/u3.test
/kaggle/input/movielens-100k-dataset/ml-100k/u.genre
/kaggle/input/movielens-100k-dataset/ml-100k/allbut.pl
/kaggle/input/movielens-100k-dataset/ml-100k/u3.base
/kaggle/input/movielens-100k-dataset/ml-100k/u2.base
/kaggle/input/movielens-100k-dataset/ml-100k/ub.test

## u.data, u.user and u.item are needed

In [5]:
# u.user has information about the users giving the ratings 
user_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users_df = pd.read_csv('/kaggle/input/movielens-100k-dataset/ml-100k/u.user', sep='|', names = user_cols, encoding='latin-1')
users_df.head(2)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043

In [6]:
# u.item has information about the movies that have been rated by users 
items_cols = ['movie_id', 'title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy','Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies_df = pd.read_csv('/kaggle/input/movielens-100k-dataset/ml-100k/u.item', sep = '|', names = items_cols, encoding = 'latin-1')
movies_df.head(2)

,movie_id,title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
# using only required columns from the movies 
# onlt title and id
movies_df = movies_df[['movie_id', 'title']]
movies_df.head(2)

   movie_id             title
0         1  Toy Story (1995)
1         2  GoldenEye (1995)

In [9]:
# getting the ratings of the users 
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings_df = pd.read_csv('/kaggle/input/movielens-100k-dataset/ml-100k/u.data', sep='\t', names = ratings_cols, encoding='latin-1')
ratings_df.head(2)

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742

In [10]:
from sklearn.model_selection import train_test_split

In [13]:
# X is ratings, y is the user_id of the ratings_df
X_ratings = ratings_df.copy() 
y = ratings_df['user_id']
X_ratings.info , y.info

(<bound method DataFrame.info of        user_id  movie_id  rating  timestamp
 0          196       242       3  881250949
 1          186       302       3  891717742
 2           22       377       1  878887116
 3          244        51       2  880606923
 4          166       346       1  886397596
 ...        ...       ...     ...        ...
 99995      880       476       3  880175444
 99996      716       204       5  879795543
 99997      276      1090       1  874795795
 99998       13       225       2  882399156
 99999       12       203       3  879959583

 [100000 rows x 4 columns]>,
 <bound method Series.info of 0        196
 1        186
 2         22
 3        244
 4        166
         ...
 99995    880
 99996    716
 99997    276
 99998     13
 99999     12
 Name: user_id, Length: 100000, dtype: int64>)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X_ratings, y, test_size = 0.25, stratify=y, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((75000, 4), (25000, 4), (75000,), (25000,))

### Here, stratify is y. y here denotes the user_id or 'label'. This means the distribution of labels (y) will be the same in training and test datasets as they are in the original dataset! 
## This is called stratified sampling.

## Making a collaborative filtering model that takes (user_id, movie_id) and gives (1-5)

In [27]:
from sklearn.metrics import mean_squared_error

def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

# defining a baseline model that always returns 3
def baseline(user_id, movie_id):
    return 3.0

In [28]:
# collaborative filtering model attempts to predict the ratings of the movies 
def score(cf_model):
    """
    Returns the error of the model with test dataset
    """
    id_pairs = zip(X_test['user_id'], X_test['movie_id'])
    y_pred = np.array([cf_model(user, movie) for (user,movie) in id_pairs])
    y_true = np.array(X_test['rating'])
    return rmse(y_true, y_pred)

In [29]:
score(baseline)

1.2488234462885457

In [31]:
type(X_train)

pandas.core.frame.DataFrame

In [37]:
# making a user based cf 
# matrix between movies and users 
ratings_matrix = X_train.pivot_table(values = 'rating', index='user_id', columns = 'movie_id')
print(ratings_matrix.shape) 
print(type(ratings_matrix))
print(ratings_matrix.head(2))

(943, 1641)
<class 'pandas.core.frame.DataFrame'>
movie_id  1     2     3     4     5     6     7     8     9     10    ...  \
user_id                                                               ...
1          5.0   3.0   4.0   NaN   3.0   5.0   4.0   1.0   5.0   3.0  ...
2          4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   2.0  ...

movie_id  1671  1672  1673  1674  1676  1677  1679  1680  1681  1682
user_id
1          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2 rows x 1641 columns]

In [42]:
def cf_user_mean(user_id, movie_id):
    if movie_id in ratings_matrix:
    # mean of all the ratings given to the movie
        mean_rating = ratings_matrix[movie_id].mean()
    else:
    # default to a rating of 3.0
        mean_rating = 3.0
    return mean_rating
# print(user_id, movie_id)
score(cf_user_mean)

1.0300824802393536

In [46]:
# using consine similarity 
# changing NaNN values to 0, since cosine similarity does not work with NaN 
r_matrix_dummy = ratings_matrix.copy().fillna(0)
# Import cosine_score
from sklearn.metrics.pairwise import cosine_similarity
#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)
#Convert into pandas dataframe
cosine_sim = pd.DataFrame(cosine_sim, index=ratings_matrix.index,
columns=ratings_matrix.index)
cosine_sim.head(10)

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.108361,0.046638,0.029577,0.245753,0.335853,0.344724,0.191582,0.057149,0.251979,...,0.257073,0.069412,0.231643,0.108093,0.176842,0.104799,0.232472,0.051528,0.129555,0.256333
2,0.108361,1.000000,0.057613,0.130237,0.054918,0.190552,0.079399,0.076146,0.167992,0.147376,...,0.136993,0.252887,0.255454,0.285193,0.232751,0.149088,0.102807,0.062386,0.109143,0.107686
3,0.046638,0.057613,1.000000,0.139805,0.000000,0.032485,0.043869,0.080968,0.022263,0.059925,...,0.027402,0.000000,0.175060,0.010343,0.105635,0.019052,0.127099,0.023917,0.060392,0.000000
4,0.029577,0.130237,0.139805,1.000000,0.000000,0.045190,0.088586,0.199526,0.135013,0.026919,...,0.055392,0.049773,0.076549,0.139382,0.113886,0.000000,0.130343,0.077357,0.157890,0.063911
5,0.245753,0.054918,0.000000,0.000000,1.000000,0.176443,0.281860,0.132205,0.038790,0.134200,...,0.183969,0.019305,0.073714,0.041807,0.081088,0.029743,0.188392,0.068342,0.055557,0.207259
6,0.335853,0.190552,0.032485,0.045190,0.176443,1.000000,0.394725,0.143385,0.125126,0.372679,...,0.328643,0.070809,0.135806,0.171670,0.125446,0.086464,0.230566,0.095478,0.197307,0.185268
7,0.344724,0.079399,0.043869,0.088586,0.281860,0.394725,1.000000,0.215861,0.121224,0.378723,...,0.339853,0.110866,0.096055,0.104690,0.126108,0.075012,0.270071,0.020036,0.236086,0.266571
8,0.191582,0.076146,0.080968,0.199526,0.132205,0.143385,0.215861,1.000000,0.116173,0.169088,...,0.150048,0.064242,0.118297,0.053969,0.168057,0.095736,0.164157,0.076269,0.089871,0.210995
9,0.057149,0.167992,0.022263,0.135013,0.038790,0.125126,0.121224,0.116173,1.000000,0.152694,...,0.082819,0.064400,0.127051,0.069251,0.095673,0.000000,0.131458,0.106763,0.089297,0.089583
10,0.251979,0.147376,0.059925,0.026919,0.134200,0.372679,0.378723,0.169088,0.152694,1.000000,...,0.279849,0.087828,0.131888,0.111841,0.094423,0.080883,0.255758,0.063461,0.169309,0.181031

In [50]:
def cf_user_wmean(user_id, movie_id):
    #Check if movie_id exists in r_matrix
    if movie_id in r_matrix_dummy:
        #Get the similarity scores for the user in question with every other user
        sim_scores = cosine_sim[user_id]
        #Get the user ratings for the movie in question
        m_ratings = r_matrix_dummy[movie_id]
        #Extract the indices containing NaN in the m_ratings series
        idx = m_ratings[m_ratings.isnull()].index
        #Drop the NaN values from the m_ratings Series
        m_ratings = m_ratings.dropna()
        #Drop the corresponding cosine scores from the sim_scores series
        sim_scores = sim_scores.drop(idx)
        #Compute the final weighted mean
        wmean_rating = np.dot(sim_scores, m_ratings)/ sim_scores.sum()
    else:
        #Default to a rating of 3.0 in the absence of any information
        wmean_rating = 3.0
    return wmean_rating
score(cf_user_wmean)

3.041758008854614

In [54]:
# merging users_df and X_train
merged_df = pd.merge(X_train, users_df)
merged_df.head(2)

   user_id  movie_id  rating  timestamp  age sex occupation zip_code
0      862       177       4  879305016   25   M  executive    13820
1       70       193       4  884149646   27   M   engineer    60067

In [59]:
gender_mean = merged_df[['movie_id', 'sex', 'rating']].groupby(['movie_id', 'sex'])['rating'].mean()
print(len(merged_df['movie_id'].unique()))
gender_mean.head(), gender_mean.info

1641

(movie_id  sex
 1         F      3.797872
           M      3.888446
 2         F      3.285714
           M      3.202703
 3         F      2.916667
 Name: rating, dtype: float64,
 <bound method Series.info of movie_id  sex
 1         F      3.797872
           M      3.888446
 2         F      3.285714
           M      3.202703
 3         F      2.916667
                    ...
 1677      F      3.000000
 1679      M      3.000000
 1680      M      2.000000
 1681      M      3.000000
 1682      M      3.000000
 Name: rating, Length: 3047, dtype: float64>)

In [60]:
1641 * 2

3282

In [71]:
users_df.loc[5]['sex']

'F'

In [68]:
# users_df = users_df.set_index('user_id')
#Gender Based Collaborative Filter using Mean Ratings
def cf_gender(user_id, movie_id):
    #Check if movie_id exists in r_matrix (or training set)
    if movie_id in ratings_matrix:
        #Identify the gender of the user
        gender = users_df.loc[user_id]['sex']
        #Check if the gender has rated the movie
        if gender in gender_mean[movie_id]:
            #Compute the mean rating given by that gender to the movie
            gender_rating = gender_mean[movie_id][gender]
        else:
            gender_rating = 3.0
    else:
        #Default to a rating of 3.0 in the absence of any information
        gender_rating = 3.0
    return gender_rating
score(cf_gender)

1.0392906999935203

In [72]:
# using both gender and occupation
gen_occ_mean = merged_df[['sex', 'rating', 'movie_id', 'occupation']].pivot_table( values='rating', index='movie_id', columns=['occupation', 'sex'], aggfunc = 'mean')
gen_occ_mean.head(2)

occupation administrator           artist         doctor educator            \
sex                    F         M      F    M         M        F         M
movie_id
1                 3.9375  3.750000    5.0  3.4  3.666667     3.25  3.884615
2                 3.0000  3.666667    NaN  NaN       NaN     4.00  3.500000

occupation engineer           entertainment  ... salesman      scientist       \
sex               F         M             F  ...        F    M         F    M
movie_id                                     ...
1               4.0  4.083333           4.0  ...      NaN  4.0       3.5  4.0
2               NaN  3.066667           NaN  ...      NaN  NaN       NaN  3.0

occupation   student           technician           writer
sex                F         M          F         M      F         M
movie_id
1           4.043478  3.796296        4.0  3.750000    4.0  3.000000
2           2.666667  3.277778        NaN  2.714286    NaN  2.333333

[2 rows x 41 columns]

In [83]:
users_df.sex

user_id
1      M
2      F
3      M
4      M
5      F
      ..
939    F
940    M
941    M
942    F
943    M
Name: sex, Length: 943, dtype: object

In [82]:
def cf_gen_occ(user_id, movie_id):
    #Check if movie_id exists in gen_occ_mean
    if movie_id in gen_occ_mean.index:
        #Identify the user
        user = users_df.loc[user_id]
        #Identify the gender and occupation
        gender = user['sex']
        occ = user['occupation']
        #Check if the occupation has rated the movie
        if occ in gen_occ_mean.loc[movie_id]:
            #Check if the gender has rated the movie
            if gender in gen_occ_mean.loc[movie_id][occ]:
                #Extract the required rating
                rating = gen_occ_mean.loc[movie_id][occ][gender]
                #Default to 3.0 if the rating is null
                if np.isnan(rating):
                    rating = 3.0
                return rating
    return 3.0

score(cf_gen_occ)

1.1419651376788005

In [104]:
gen_occ_mean.index

Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1671, 1672, 1673, 1674, 1676, 1677, 1679, 1680, 1681, 1682],
      dtype='int64', name='movie_id', length=1641)

In [150]:
def recommend_movies(user_id, gen_occ_mean):
    user = users_df.loc[user_id]
    gender = user['sex']
    occupation = user['occupation']
#     print(user_id, gender, occupation)
    
    movies_ratings = gen_occ_mean[occupation, gender]
    top_ten = movies_ratings.dropna().sort_values(ascending=False).head(20)
    
    return top_ten

In [151]:
gen_occ_mean["educator", "F"]

movie_id
1       3.25
2       4.00
3        NaN
4       2.50
5       4.00
        ...
1677     NaN
1679     NaN
1680     NaN
1681     NaN
1682     NaN
Name: (educator, F), Length: 1641, dtype: float64

In [152]:
gen_occ_mean["educator",'F'].dropna().sort_values(ascending=False).head(10)

movie_id
142    5.0
490    5.0
729    5.0
622    5.0
272    5.0
900    5.0
139    5.0
785    5.0
895    5.0
633    5.0
Name: (educator, F), dtype: float64

In [153]:
movies_and_ratings = recommend_movies(121, gen_occ_mean)

for movie_id, rating in movies_and_ratings.items():
    movie_name = movies_df.loc[movie_id,'title']
    print(movie_name)

Wizard of Oz, The (1939)
Quiet Man, The (1952)
Santa Clause, The (1994)
Sunset Blvd. (1950)
Candyman (1992)
Notorious (1946)
Golden Earrings (1947)
Pather Panchali (1955)
Dazed and Confused (1993)
Paris, Texas (1984)
Orlando (1993)
Stranger in the House (1997)
Fly Away Home (1996)
Manchurian Candidate, The (1962)
Cold Comfort Farm (1995)
Anna Karenina (1997)
Ran (1985)
In the Bleak Midwinter (1995)
The Innocent (1994)
King of the Hill (1993)